body {
  background-color: #dddcdb;
}
h1 {
  color: red;
}
h2 {
  color: #9375d5;
}
p {
  color: #ff4a50;
}
.logo {
  height: 50;
  width: 60;
}

.circle-img {
  border-radius: 50%;
}
